.attributes-container {
}
.attributes-heading h1 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
}
.attributes-img {
  text-align: center;
  margin-top: 20px;
}
