.nav-brand {
  display: none;
}

@media (min-width: 576px) {
  .nav-brand {
    letter-spacing: 0.5px;
    display: block;
    font-weight: 500;
  }

  .logo {
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
}
